<h1>Set lift for your experiment..  </h1>

<%= form_tag(lift_path) do %>
  <%= label_tag(:q, "% :") %>
  <%= text_field_tag(:lift) %>
  <%= submit_tag("Set") %>
<% end %>
<br><br>

<h3> Previous Values </h3>
<% @values.each do |value| %>
  <br> <%= value %>%</b> <a href="#">set this value</a><br>
<% end %>
